*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

img{
    max-width: 90%;
    height: auto;
}

ul{
    list-style: none;
    text-decoration: none;
    color: inherit;

}

button{
    border: none;
    background-color: inherit;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
    transition: 0.2s ease-in-out;
}